body :hover {
  transition: all 2s;
  transform: rotateY(360deg);
}
.rank1 {
  background-color: lightskyblue;
}
.rank2 {
  background-color: yellowgreen;
}
.fix {
  background-color: #ffffff;
}
.rank3 {
  background-color: yellow;
}
table {
  margin: 0 auto;
  animation: 0.5s linear 1s infinite alternate slidein;
}
table:hover {
  transition: all 2s;
  transform: rotateY(360deg) scale(1.3);
}
thead,
tfoot,
td {
  text-align: center;
}
thead,
tfoot {
  background-color: midnightblue;
  color: #ffffff;
}
tr td:nth-child(3) {
  color: blue;
}
